/* ------------------------------------
 * Typecho Default Theme
 *
 * @author  Typecho Team
 * @link  http: //typecho.org/
 * @update  2013-10-28
 * --------------------------------- */

/* ------------------
 * Global style
 * --------------- */
body {

  margin:0;
  font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height:20px;
  color:#444;
  background-color:#E7E7E7;
  overflow-x: hidden;
  font-size: 87.5%;
}

/*.container {
  padding-left: 0px;
  padding-right: 0px;
 }*/

a {
  color: #61a8df;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

pre, code {
  padding: 2px 4px;
  
  font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
  font-size: .92857em;
}
code { color: #B94A48; }
pre {
  padding: 20px;
  overflow: auto;
  max-height: 400px;
  background: #F0F0EC;
  margin: 20px -20px 20px -20px;
}
pre code {
  padding: 0;
  color: #444;
}
pre:hover{
  background: #F3F3F0;
}

pre.prettyprint {
  padding: 20px!important; 
  border: none!important;
}

blockquote {
  margin: 1em 1.5em;
  padding-left: 1.5em;
  border-left: 4px solid #F3F3F0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  padding: 5px;
  border: 1px solid #E9E9E9;
  width: 100%;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}

.submit{
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #DCD6D3;
  border-radius: 2px;
  color: #59493F;
  cursor: pointer;
  margin: 0;
  padding: 5px 12px;
}


/* Special link style */
.post-meta a,
.post-content a,
.widget a,
.comment-content a {
  border-bottom: 0px solid #EEE;
}

.post-meta a:hover,
.post-content a:hover,
.widget a:hover,
.comment-content a:hover {
  border-bottom-color: transparent;
}

.browsehappy {
  padding: 8px 0;
  background: #FBE3E4;
  color: #8A1F11;
  text-align: center;
}
.browsehappy a {
  color: #8A1F11;
  text-decoration: underline;
  font-weight: bold;
}

/* ------------------
 * Header
 * --------------- */

#header {
  background: #293136;
}

#header #nav-logo{
  display: none;
}



#header.fix {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
}

#header.fix #nav-logo{
  display: block;
  color: #fff;
  margin-right: 10px;
  background: #3a444a;
  border-top-color: #3a444a;
  font-size: 2em;
}


#header .container {

}

.site-name{
  height: 100px;
}

#logo {
  position: relative;
  padding-top: 25px;
  letter-spacing: 3px;
  text-align: center;
  color: #FFF;
  margin: 1em 0 1em 0;
}



/*#logo div {
  position: relative;
  display: inline-block;
  padding: 0 6em 0 6em;
  box-shadow: 0px 1px 0px #445058, 0px -1px 0px #445058;
  height: 10px;
}*/

#logo h1 {
  position: relative;
  padding: 0em 0.50em;
  top: -.20em;
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 700;
  height: 40px;
  display: block;
}

#logo h1 a{
  color: #eee;
}

#logo h1 a:hover{
  color: #fff;
  text-decoration: none;
}

.description {
  display: block;
  margin-top: -0.25em;
  letter-spacing: 0.07em;
  font-size: 1.1em;
  color: #eee;
  color: rgba(255,255,255,0.8);
}

/* Navigation menu */
#nav {
  margin: 0;
  padding: 0;
  background: #445058;
/*  margin: 10px 0 0 0;*/
}

#nav-menu{
  padding: 0;
}

#nav-menu a{
  color: #ddd;
  display: block;
  padding: 0px 25px;
  height: 40px;
  line-height: 40px;
}

#nav-menu a:hover{
  color: #fff;
  text-decoration: none;
}

.nav-a {
  border-top: 5px solid transparent;
  float: left;
  font-size: 1.1em;
}

.nav-a:hover {
  background: #3a444a;
}

.category-parent {
  display: block;
  border-top: 5px solid transparent;
  font-size: 1.1em;
}

.category-parent:hover {
  background: #3a444a;
  -moz-transition: all 250ms; 
  -webkit-transition: all 250ms; 
  -o-transition: all 250ms; 
  transition: all 250ms; 
}

.category-child {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: .9em;
  -moz-transition: all 250ms; 
  -webkit-transition: all 250ms; 
  -o-transition: all 250ms; 
  transition: all 250ms; 
}

.category-child:hover,.category-child.category-active {
  background: #61a8df;
  -moz-transition: all 250ms; 
  -webkit-transition: all 250ms; 
  -o-transition: all 250ms; 
  transition: all 250ms; 
}


#nav-menu .current,.category-parent.category-active,.category-parent-active{
  background: #3a444a;
  border-top-color: #61a8df;
}

#nav-menu .current,.category-parent.category-active a,.category-parent-active a{
  color: #fff!important;
}

#nav-menu .category-list{
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
  float: left;
}

#nav-menu .category-list li{
  list-style: none;
  float: left;
}

#nav-menu .category-list ul{
  position: absolute;
  min-width: 120px;
  z-index: 10;
  background: #3a444a;
  display: none;
}

#nav-menu .category-parent:hover ul{
  display: block;
}

#nav-menu .category-list ul li{
  float: none;
}

/* Search */
#search {
  position: relative;
  margin-top: 7px;
  border: 1px solid #596268;
  width: 70%;
  float: right;
  -o-transition: width 250ms; 
  transition: width 250ms;  
  -o-transition: width 250ms; 
  transition: width 250ms; 
}

#search:hover{
  border: 1px solid #61a8df;
  width: 100%;
  -o-transition: width 250ms; 
  transition: width 250ms;  
  -o-transition: width 250ms; 
  transition: width 250ms; 
}

#search input {
  -webkit-appearance: none;
  display: block;
  height: 30px;
  margin: 0;
  padding: 0 2em 0 1em;
  background: none;
  border: none;
  letter-spacing: 0.05em;
  line-height: 30px;
  color: #fff;
  outline: none;

}


#search button {
  position: absolute;
  right: 4px;
  top: 2px;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  background: transparent url(img/icon-search.png) no-repeat center center;
  direction: ltr; /* fix RTL language */
  text-indent: -9999em;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
  #search button {
    background-image: url(img/icon-search@2x.png);
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}


/* ------------------
 * banner
 * --------------- */

 
 #tip{
  padding: 7px 20px;
  background: #fff;
  text-align: left;
  color: #428bd1;
  margin-bottom: 10px;
}

#slider{
  background: #f8f8f8;
  margin-bottom: 10px;
  position: relative; 
  overflow: auto;
  height: 100px;
  display: none;
}

#slider ul {
 list-style: none; 
 padding: 0;
 margin: 0;
}
#slider ul li { 
  float: left; 
}

/* ------------------
 * Body
 * --------------- */

 #body {
  margin-bottom: 10px;
}

#body .container{
  /*background: #fff;*/
}

/* ------------------
 * Main
 * --------------- */


.post {
  padding: 0 0 20px;
  background: #fff;
  /*border: 1px solid #ddd;*/
  margin-bottom: 10px;
}

.post:hover {
  background: #fefefe;
  -moz-transition: all 250ms; 
  -webkit-transition: all 250ms; 
  -o-transition: all 250ms; 
  transition: all 250ms;  
}

.post-image{
  width: 100%;
  max-height: 300px;
  overflow: hidden;
}

.post-image img{
  width: 100%;
  position: relative;
  opacity: 0.9;
}

.post-image a:hover img{
  width: 100%;
}

.post-title {
  font-size: 1.5em;
  padding: 20px 20px;
}

.post-title a{
  color: #555;
}

.post-title a:hover{
  text-decoration: none;
  color:#3071A9;
}

.post-meta {
  margin-top: -0.5em;
  padding: 0;
  color: #999;
  font-size: .92857em;
  padding: 0px 20px 5px 20px;
  border-bottom: 1px #61a8df solid;
}
.post-meta li {
  display: inline-block;
  margin: 0 8px 0 0;
  padding-left: 12px;
  border-left: 1px solid #EEE;
}
.post-meta li:first-child {
  margin-left: 0;
  padding-left: 0;
  border: none;
}
.post-content {
  line-height: 1.5;
  padding: 0 20px;
}
.post-content img{
  background: #000;
  opacity: 0.9;
}
.post-content img:hover{
  opacity: 1;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6{
  font-weight: 700;
  margin: 5px -20px;
  padding: 10px 15px;
  color: #555;
  border-left: 5px #61a8df solid;
}

.post-content h1{
  padding: 10px 5px;
  background: #f5f5f5;
}
.post-content h2{
  padding: 10px 10px;
  background: #f5f5f5;
}
.post-content h3{
  padding: 10px 20px;
  background: #f5f5f5;
}
.post-content h4{
  padding: 10px 30px;
}


.post .tags {
  clear: both;
  padding: 10px 20px;
  border-top: 1px solid #eee;
  margin-bottom: 0px;
}

.post-near {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #999;
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.post-near li.next {
  float: right;
}

.post-near li.prev {
  float: left;
}

.archive-title {
  background: #fff;
  margin-bottom: 10px;
  color: #555;
  font-size: 1.5em;
  padding: 20px 10px;
}
.more {
  text-align: center;

}
.more a {
  background: #61a8df;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  -moz-transition: background 400ms; 
  -webkit-transition: background 400ms; 
  -o-transition: background 400ms; 
  transition: background 400ms;
}

.more a:hover  {
  -moz-transition: background 400ms; 
  -webkit-transition: background 400ms; 
  -o-transition: background 400ms; 
  transition: background 400ms;
  background: #357EBD;
  text-decoration: none;
}

.protected .text {
  width: 50%;
}

/* Page nav */

.page-navigator {
  list-style: none;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  background: #fff;
}
.page-navigator li {
  display: inline-block;
  margin: 0 4px;
}
.page-navigator a {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.page-navigator a:hover {
  background: #EEE;
  text-decoration: none;
}

.page-navigator .current a {
  color: #444;
  background: #EEE;
}

/* ------------------
 * Comment list
 * --------------- */
#comments {
  padding: 20px;
  background: #fff;
}



.comment-list, .comment-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-list{
  margin: 10px 0;
}

.comment-list li {
  padding: 14px;
  margin-top: 10px;
  border: 1px solid #eee;
}
.comment-list li.comment-level-odd {
  background: #F8F8F8;
}
.comment-list li.comment-level-even {
  background: #FFF;
}
.comment-list li.comment-by-author {
  background: #FFF9E8;
}
.comment-list li .comment-reply {
  text-align: right;
  font-size: .92857em;
}
.comment-meta a {
  color: #999;
  font-size: .92857em;
}
.comment-author {
  display: block;
  margin-bottom: 3px;
  color: #444;
}

.comment-author .avatar {
   float: left;
   margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
   border-radius: 3px;
   background: #fff;
  -webkit-transition: .4s;
  -webkit-transition: -webkit-transform .4s ease-out;
  -moz-transition: -moz-transform .4s ease-out;
   transition: transform .4s ease-out;
}

.comment-author:hover .avatar {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
   transform: rotateZ(360deg);
}



.comment-author cite {
  font-weight: bold;
  font-style: normal;
}

/* Comment reply */
.comment-list .respond {
  border-top: 1px solid #EEE;
  margin-top: 15px;
  padding-top: 15px;
}

#response {
  
}

.respond .cancel-comment-reply {
  float: right;
  font-size: .92857em;
}
#comment-form label {
  display: block;
  margin-bottom: .5em;
}
#comment-form .required:after {
  content: " *";
  color: #C00;
}

/* ------------------
 * secondary
 * --------------- */
#secondary {
  word-wrap: break-word;
  padding-left: 0;
}

.widget.fix {
  position: fixed;
  top: 55px;
}


.widget {
  margin-bottom: 10px;
  background: #fff;
  padding: 10px 20px;
}
.widget-title {
  border-bottom: 1px solid #61a8df;
  padding: 15px 0 10px 0;
}
.widget-list {
  list-style: none;
  padding: 0;
}
.widget-list li {
  margin: 5px 0;
  line-height: 1.5;
}

.widget-list li ul {
  margin-left: 15px;
}

.widget-list a {
 color: #555;
}


.widget-list a:hover {
  color: #61a8df;
  text-decoration: none;
}

.widget-comment a{
  color: #555;
}

.widget-comment a:hover{
  text-decoration: none;
}

.widget-comment .avatar{
  float: left;
  width: 40px;
  margin: 5px 5px 0 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  -webkit-transition: .4s;
  -webkit-transition: -webkit-transform .4s ease-out;
  -moz-transition: -moz-transform .4s ease-out;
  transition: transform .4s ease-out;
}

.widget-comment li:hover .avatar{
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);

}

.widget-comment label{
  font-size: 1em;
  color: #61a8df;
}

.widget-comment .comments-text{
  color: #999;
  font-size: 0.8em;
}

.widget-comment li {
  border-bottom:1px solid #eee;
  padding: 5px 0;
}


.tag-cloud li{
  float: left;
  text-align: center;
}

.tag-cloud li a{
    color: #555;
    padding: 4px 6px;
    margin: 0 5px 0 0;
    background: #efefef;
    font-size: .8em;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
  -moz-transition: all 250ms; 
  -webkit-transition: all 250ms; 
  -o-transition: all 250ms; 
  transition: all 250ms;
}

.tag-cloud li a:hover{
    color: #fff;
    background: #61a8df;
    text-decoration: none;
  -moz-transition: all 250ms; 
  -webkit-transition: all 250ms; 
  -o-transition: all 250ms; 
  transition: all 250ms;
}

.social img{
  width: 100%;
  border-radius: 3px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
  background: #fff;
  -webkit-transition: .4s;
  -webkit-transition: -webkit-transform .4s ease-out;
  -moz-transition: -moz-transform .4s ease-out;
  transition: transform .4s ease-out;
}

.social img:hover{
  opacity: 0.6;
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}


/* ------------------
 * Footer 
 * --------------- */

#footer{
  background: #293136;
  padding-bottom: 1em;
  position: relative;
  z-index: 2;
}

#footer .container {

}

#footer .info{
    line-height: 1.5;
    border-top: 4px solid #61a8df;
    padding: 2em 2em 1.5em 2em;
    letter-spacing: 0.05em;
    color: #eee;
    background: #3a444a;
    color: rgba(255,255,255,0.8);
}

#footer .copyright{
  float: left;

}

#footer .powerby{
  float: right;
}



/* -----------------
 * Error page
 * -------------- */
.error-page {
  width: 100%;
  background: #fff;
}

.error-page .content {
  padding:100px 0;
  width: 50%;
  margin: 0 auto;
}




/* -----------------
 * Content format
 *--------------- */
.post-content, .comment-content {
  line-height: 1.5;
  word-wrap: break-word;
}
.post-content h2, .comment-content h2 {
  font-size: 1.28571em;
}
.post-content img, .comment-content img,
.post-content video, .comment-content video {
  max-width: 100%;
}
.post-content a img,
.comment-content a img {
  background: #FFF;
  position: relative;
  bottom: -4px;  /* hidden img parent link border  */
}
.post-content hr, .comment-content hr {
  margin: 2em auto;
  width: 100px;
  border: 1px solid #E9E9E9;
  border-width: 2px 0 0 0;
}


/* -----------------
 * Misc
 *--------------- */
.aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
img.alignleft {
  margin: 0 15px 0 0;
}
img.alignright {
  margin: 0 0 0 15px;
}


/* -----------------
 * Responsive
 *--------------- */
@media (max-width: 767px) {
  body {
    font-size: 81.25%;
  }
  #nav-menu a {
    padding: 0 13px;
  }

  #nav-logo {
    display: none!important;
  }
}

@media (max-width: 768px) {
  #header,
  .post-title,
  .post-meta {
    text-align: center;
  }
  #footer .copyright,#footer .powerby {
    float: none;
    text-align: center;
  }
}

@media (min-width: 992px) {

}


/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/
.hidden {
  display: none !important;
  visibility: hidden; }

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/
.sr-only {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
* Extends the .sr-only class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
* Hide visually and from screenreaders, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* scrollbar
 */

 ::-webkit-scrollbar {     
    width: 5px;     
    height: 5px;     
}     
::-webkit-scrollbar-track-piece { background-color: transparent; }     
body::-webkit-scrollbar-track-piece { background-color: white; }     
::-webkit-scrollbar-track-piece:no-button {}     
::-webkit-scrollbar-thumb {     
    background-color: #CCC;     
    border-radius: 2px;     
}     
::-webkit-scrollbar-thumb:hover { background-color: #0CF;}     
::-webkit-scrollbar-thumb:active { background-color: #61a8df; }     
/*::-webkit-scrollbar-button:vertical { width: 5px; }     
::-webkit-scrollbar-button:horizontal { width: 5px; }     
 */
::-webkit-scrollbar-button:vertical:start:decrement { background-color: #eee; }     
::-webkit-scrollbar-button:vertical:end:increment { background-color: #eee; }     
::-webkit-scrollbar-button:horizontal:start:decrement { background-color: #eee; }     
::-webkit-scrollbar-button:horizontal:end:increment { background-color: #eee; }   